@import "../../assets/styles/icon.scss";
@import "../../assets/styles/variable";

.App {
  // min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767.98px) {
    // align-items: stretch;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 800px;
  font-size: 25px;
  margin: 20px;
  box-shadow: 14px 14px 8px 0px rgba(6, 5, 5, 0.2);
  border-radius: 30px;

  @media (max-width: 767.98px) {
    box-shadow: none;
    margin: 10px 20px 30px;
  }

  @media (max-width: 319.98px) {
    margin: 10px 10px 30px;
  }
}
