
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  margin: 0 0 20px;
  border-radius: 30px;
  box-shadow: 14px 14px 8px 0px rgba(6, 5, 5, 0.2);

  @media (max-width: 479.98px) {
    flex-direction: column;
    border-radius: 0px;
    box-shadow: none;
    margin: 0;
  }
}

.search-bar {
  position: relative;

  &__img {
    // position: absolute;
    width: 50px;
    padding: 10px;
    right: 0;
    top: 3px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
  }

  input {
    padding: 10px;
    border: 0;
    border-radius: 8px;
    font-size: 27px;
    display: none;

    &::placeholder {
      color: rgb(168, 161, 161);
    }

    &:focus {
      outline: rgb(168, 161, 161) solid 1px;
    }
  }
}