@import './assets/styles/_null.scss';
@import './assets/styles/_variable.scss';

body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: $bgSunny;
  @extend %bgAnimation;

  // background: linear-gradient(-45deg, #dee5f8, #a2caeb, #6080bb, #bceef1);
  // background-size: 300% 300%;
  // animation: gradient 15s ease infinite;

  // @keyframes gradient {
  //   0% {
  //     background-position: 0% 50%;
  //   }

  //   50% {
  //     background-position: 100% 50%;
  //   }

  //   100% {
  //     background-position: 0% 50%;
  //   }
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
