$mainColor: #fff;

$bgSunny: linear-gradient(-45deg, #feffd1, #7dddf5, #66daf7, #feffd1) 400%/400%;
$bgCloudy: linear-gradient(-45deg, #fff,  #66afc1, #66afc1, #fff) 400%/400%;
$bgSnow: linear-gradient(-45deg, #a1c4fd,  #C2EDFB, #a1c4fd, #C2EDFB) 400%/400%;
$bgThunderstorm: linear-gradient(-45deg, #c0bbbb, #7f8383, #c0bbbb, #7e7e7e) 400%/400%;



%bgAnimation {
  animation: gradient 15s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

$fontSize: 16;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$font-weight: 400;
